body {
    background: gray;
    color: white;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    border: 1px solid red;
}

article strong {
    width: 100%;
    color: blue;
}

img {
    border-radius: 50px;
    width: 30px;
}